/*@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}*/
/**
 *
 * =======================================================================
     Base Type
 * =======================================================================
 *
 */

html {
    font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
}

body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    color: #444444;
    transition: opacity .5s ease;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
}

/**
 *
 * =======================================================================
     Fine Print
 * =======================================================================
 */

small {
    font-size: 65%;
}


/**
 *
 * =======================================================================
     Headings
 * =======================================================================
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
    color: #222222;
}


/**
* Extend included classes on any element of your
* choosing for adjusting type based on the scale
* provided.

* For example:

 <h6 class="giga">Awesome Headline</h6>
 <p class="tera">a story about a dude</p>

* Our Type Scale is as follows with px fallbacks
* for IE 6-8 as they do not understand REM units.
*
* 18, 21, 24, 36, 48, 60, 72, 90, 117
*
*/

.tera {
    font-size: 117px;
    font-size: 6.5rem; /* 117 / 18 = 6.5 */
    margin-bottom: 0.25385em;
}

.giga {
    font-size: 90px;
    font-size: 5rem; /* 90 / 18 = 5 */
    margin-bottom: 0.33em;
}

.mega {
    font-size: 72px;
    font-size: 4rem; /* 72 / 18 = 4 */
    margin-bottom: 0.4125em;
}

.alpha {
    font-size: 60px;
    font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
    margin-bottom: 0.495em;
}

h1,
.beta {
    font-size: 48px;
    font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
    margin-bottom: 0.61875rem;
}

h2,
.gamma {
    font-size: 36px;
    font-size: 2rem; /* 36 / 18 = 2 */
    margin-bottom: 0.825em;
}

h3,
.delta {
    font-size: 24px;
    font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
    margin-bottom: 1.2375em;
}

h4,
.epsilon {
    font-size: 21px;
    font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
    margin-bottom: 1.4142857142857141em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

h5, h6,
.zeta {
    font-size: 18px;
    font-size: 1rem; /* 18 = 18 × 1 */
    margin-bottom: 1.65em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}

/* margin-bottom for headings:
 *
 * Explanation:
 * Makes sure that there's always one unit of measure's worth of space between shit
 * for headings. This is better than spacing using line-height because of the wrapping issue where we have
 * wrapping onto 2 lines with a high line-height.
 */

/**
 *
 * =======================================================================
     Blockquote and Emailquote
 * =======================================================================
 */

blockquote {
    font-style: italic;
}

.emailquote, pre {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding:1em;
    font-size: .8em;
    background-color: #ededed;
    border-left: 1em #ddd solid;
    /*white-space: pre-line;*/
}

blockquote {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding:1em;
    background-color: #ededed;
    border-left: 1em #ddd solid;
    margin-left:0;
}

blockquote *:last-child {
    margin-bottom: 0;
}

blockquote a:hover {
    color: var(red) !important;
}

/**
 *
 * =======================================================================
     Paragraphs and Indentation
 * =======================================================================
 */

p {
    margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

p + p {
    /*text-indent: 1.5em;  indent subsequent paragraphs */
    /*margin-top: -1.5em;  no top margin on subsequent paragraphs */
}

/**
 * ------------------------------------------------------- clearfix
 */
 .cf {
    position: relative;
}
.cf:before, .cf:after {
    content:" ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * ------------------------------------------------------- grids
 */
 .grid {
    text-align: justify;
    line-height: 0;
}

.grid > * {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    line-height: 1.5em;
    position: relative;
}

.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
    font-size: 0.1px;
}
/**
 * -------- vertically align to the middle
 */
 .grid.middle > * {
    vertical-align: middle;
}
.grid > *.middle {
    vertical-align: middle;
}
/**
 * ------------------------------------------------------- 6 columns
 */
 .grid-6 > * {
    width: 14.666%;
}
/**
 * ------------------------------------------------------- 4 columns
 */
 .grid-4 > * {
    width: 23%;
}
@media (max-width: 1024px) {
    .grid-4-1024 > * {
        width:23%;
    }
}
@media (max-width: 800px) {
    .grid-4-800 > * {
        width:23%;
    }
}
@media (max-width: 480px) {
    .grid-4-480 > * {
        width: 23%;
    }
}
/**
 * ------------------------------------------------------- 3 columns
 */
 .grid-3 > * {
    width: 31%;
}
@media (max-width: 1024px) {
    .grid-3-1024 > * {
        width:31%;
    }
}
@media (max-width: 800px) {
    .grid-3-800 > * {
        width:31%;
    }
}
@media (max-width: 480px) {
    .grid-3-480 > * {
        width: 31%;
    }
}
/**
 * ------------------------------------------------------- 2 columns
 */
 .grid-2 > * {
    width: 48%;
}
@media (max-width: 1024px) {
    .grid-2-1024 > * {
        width:48%;
    }
}
@media (max-width: 800px) {
    .grid-2-800 > * {
        width:48%;
    }
}
@media (max-width: 480px) {
    .grid-2-480 > * {
        width: 48%;
    }
}
/**
 * ------------------------------------------------------- 1 column
 */
 .grid-1 > * {
    width: 100%;
}
@media (max-width: 1024px) {
    .grid-1-1024 > * {
        width:100%;
    }
}
@media (max-width: 800px) {
    .grid-1-800 > * {
        width:100%;
    }
}
@media (max-width: 480px) {
    .grid-1-480 > * {
        width: 100%;
    }
}
/**
 * ------------------------------------------------------- multi-column spanning sections
 */
@media (min-width: 1025px) {
    .span-one-half {
        width: 48%;
    }
    .span-two-thirds {
        width: 64%;
    }
    .span-three-fourths {
        width: 73%
    }
    .span-full {
        width:100%;
    }
}
@media (max-width: 1024px) {
    .span-one-half-1024 {
        width: 48%;
    }
    .span-two-thirds-1024 {
        width: 64%;
    }
    .span-three-fourths-1024 {
        width: 73%
    }
    .span-full-1024 {
        width:100%;
    }
}
@media (max-width: 800px) {
    .span-one-half-800 {
        width: 48%;
    }
    .span-two-thirds-800 {
        width: 64%;
    }
    .span-three-fourths-800 {
        width: 73%
    }
    .span-full-800 {
        width:100%;
    }
}
@media (max-width: 480px) {
    .span-one-half-480 {
        width: 48%;
    }
    .span-two-thirds-480 {
        width: 64%;
    }
    .span-three-fourths-480 {
        width: 73%
    }
    .span-full-480 {
        width:100%;
    }
}
/**
 * ------------------------------------------------------- inline-blocks, table layouts
 */
 .ib {
    display: inline-block;
    vertical-align: top;
}
.i {
    display: inline;
}
.table {
    display: table;
    width: 100%;
}
.table-fixed {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.cell {
    display: table-cell;
    vertical-align: top;
}
.table.bottom .cell, .table-fixed.bottom .cell, .cell.bottom {
    vertical-align: bottom;
}
.table.middle .cell, .table-fixed.middle .cell, .cell.middle {
    vertical-align: middle;
}
.row {
    display: table-row;
}
/**
 * table captions (note, not very good on Firefox)
 */
 .caption-bottom {
    display: table-caption;
    caption-side: bottom;
}
.caption-top {
    display: table-caption;
    caption-side: top;
}
/**
 * cancelling table-layouts based on screen-width
 */
@media (max-width: 800px) {
    .no-table-800, .no-table-800 > .row, .no-table-800 > .row > .cell, .no-table-800 > .cell {
        display: block;
    }
}
@media (max-width: 480px) {
    .no-table-480, .no-table-480 > .row, .no-table-480 > .row > .cell, .no-table-480 > .cell {
        display: block;
    }
}
/**
 * ------------------------------------------------------- relative positioning
 */
 .rel {
    position: relative;
}
.absolutely-centered {
    position: absolute;
    width: 100%;
    left:0;
    top:50%;
    transform: translateY(-50%);
}
.centered {
    text-align: center;
}
/**
 * ------------------------------------------------------- fill container
 */
 .expand {
    width: 100%;
    height:100%;
}
/**
 * ------------------------------------------------------- variables (Myth / CSS v4 spec)
 */
 :root {
    var-elastic: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    var-red: rgb(188,52,45);
    var-gray-light: #f2f4f5;
    var-gray-medium: #adb8c4;
    var-gray-dark: #39474e;
    var-gold: #c4843c;
}
/**
 * ------------------------------------------------------- default styles
 */
 body {
    font-family:"ff-tisa-web-pro", serif;
    font-weight: 100;
    background-color: #fff;
    min-width: 380px;
    word-wrap: normal;
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
/**
 * ------------------------------------------------------- initial setup
 */
 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
    /** kerning **/
    text-rendering: optimizeLegibility;
    font-feature-settings:"kern";
    -webkit-font-feature-settings:"kern";
    -moz-font-feature-settings:"kern";
    -moz-font-feature-settings:"kern=1";
}

/**
 * ------------------------------------------------------- buttons
 */
.button {
    background: #adb8c4;
    /*border: 1px solid var(primary-color);*/
    padding: .5em 1.5em;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .65em;
    transition: all .25s ease;
    color:white;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.2em;
/*    text-shadow: 0 0 1px rgba(0,0,0,0.75);*/
    text-decoration: none;
    backface-visibility:hidden;
}
.button:hover, .button.inverse:hover {
/*    background-color: color(var(primary-color) a(.5));*/
}
.button.inverse {
    /*background: color(var(primary-color) shade(50%) a(.5));*/
}
.button.large {
    /*font-size: 1.5em;*/
    width: 100%;
}

/**
 * ------------------------------------------------------- loader / progress bar
 */
.progress-bar {
    position: absolute;
    width: 0;
    height: 5px;
    top:50%;
    left:0;
    transform: translateY(-50%) !important;
    backface-visibility:hidden;
    background: rgba(255,255,255,.2);
    transition: opacity .25s ease, width .25s var(elastic), height .25s ease !important;
    animation: sunrise 12s linear alternate infinite;
}
.progress-bar::after {
    content: attr(message);
    display: inline-block;
    position: absolute;
    min-width: 20em;
    text-align: right;
    height: 3em;
    color: rgba(255,255,255,0.75);
    top: 2em;
    right: 0;
    backface-visibility:hidden;
    transform: translateZ(0);
}
@keyframes sunrise {
    0% {
        background-color: rgba(255, 0, 68, .5);
    }
    30% {
        background-color: rgba(255, 0, 119, .5);
    }
    50% {
        background-color: rgba(0, 72, 255, .5);
    }
    65% {
        background-color: rgba(0, 255, 123, .5);
    }
    85% {
        background-color: rgba(255, 115, 0, .5);
    }
    100% {
        background-color: rgba(255, 0, 0, .5);
    }
}

/**
 * ------------------------------------------------------- hidden class
 */
.hidden {
    visibility:hidden;
    opacity: 0 !important;
    pointer-events:none;
}

.optimized {
    visibility:visible;
    opacity:1;
    transform: translateZ(0);
    transition: visibility 0s .25s linear, opacity .25s 0s ease;
}

/**
 * ------------------------------------------------------- animations
 */
 @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-2em);
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------------------- sections
 */
.sidebar {
    position: fixed;
    bottom:0;
    left: 0;
    padding: 1rem;
    background-color: var(gray-light);
    width:18em;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    animation: fadeIn .25s both;
    z-index: 1;
    backface-visibility: hidden;
}
.sidebar > input {
    margin-bottom: 1.5rem;
}
.sidebar > ul {
    margin:0;
    padding: 0;
}
.sidebar > ul li {
    transition: all .25s var(elastic);
    backface-visibility: hidden;
    position: relative;
    list-style: none;
    font-size: 22px;
}
.sidebar > ul li a {
    display: block;
    padding: .25rem;
    text-decoration: none;
    color:var(gray-dark);
}
.sidebar > ul li i {
    font-size: .75em;
    display: inline-block;
    text-align: center;
    background-color: var(gray-light);
    color: var(gray-medium);
    padding: .25em;
    height: 1.5em;
    width: 1.5em;
    line-height: 1em;
    border-radius: 50%;
    transition: all .25s ease;
}
.sidebar > ul li:hover {
    transform: translateX(1rem);
    cursor:pointer;
}
.sidebar > ul li:hover i {
    background-color: var(gray-dark);
    color: var(gray-light);
}
.sidebar > ul li.active i, .sidebar > ul li:active i {
    background-color: var(red);
    color: var(gray-light);
}
.sidebar > ul li.filtered {
    background-color: color(var(red) a(50%)) !important;
    color: #fff !important;
}
.sidebar > ul li.filtered a {
    color: var(gray-light);
}
.sidebar > ul li ul li {
    font-size: 0.75em;
}
.sidebar > ul li ul li a {
    position: relative;
    padding-left: 1.25em;
    border-top: 1px solid var(gray-medium);
}
.sidebar > ul li ul li:first-child a {
    border-top: none;
}
.sidebar > ul li ul li a i {
    display: inline-block;
    position: absolute;
    top:.8em;
    left:0;
    height: 100%;
    /*transform: translateY(-50%);*/
    /*backface-visibility: hidden;*/
}
.sidebar > ul li ul {
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 0;
    overflow: hidden;
}
.sidebar > ul li.active ul {
    max-height: 1000em;
    max-height: 200vh;
}
.sidebar > ul li.active ul li i {
    background-color: #f2f4f5;
    color: #adb8c4;
}
.sidebar > ul li.active ul li.active i {
    background-color: #f2f4f5;
    color: #adb8c4;
}
.sidebar > ul li i {
    font-weight: 100;
}
.sidebar .logo {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.content {
    padding: 8.5em 1em 5em 20em;
    backface-visibility: hidden;
}


/**
 * ----------------------------------------------------- content styles
 */
.social {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    font-family:"Arvo", serif;
    font-weight: 400;
}
p + ul {
    margin-top: -1em;
}
.content h2 {
    margin-top: 1em;
    padding: .25em;
    color:white;
    background-color: var(red);
    margin-left: -2rem;
    margin-right: -1rem;
}
.content img {
    max-width: 100%;
}
.content code {
    display: inline-block;
    padding:.15em .25em;
    background-color: #ededed;
}


/**
 * ----------------------------------------------------- links
 */

.content a {
    color: var(red);
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all .25s ease;
    padding: .15em .25em;
    backface-visibility: hidden;
    border-bottom: .075em solid var(red);
}
.content a::after {
    content: '';
    position: absolute;
    z-index: -1;
    height:0;
    width: 100%;
    bottom:0;
    left:0;
    background: var(red);
    transition: all .25s var(elastic);
    backface-visibility: hidden;
}
.content a:hover::after {
    height: 100%;
}
.content a:hover {
    color: white;
}


.highlighted {
    background-color: color(var(red) a(50%));
    padding: 0 .25em;
    color:white;
}

*::-moz-selection {
  background-color: #efefef !important;
  text-shadow: none;
  color: #128c87;
}

*::selection {
  background-color: #efefef !important;
  text-shadow: none;
  color: #128c87;
}
/**
 * ----------------------------------------------------- forms
 */
input[type="text"] {
    padding: .5rem 1rem;
    width: 100%;
    border: 1px solid var(gray-medium);
}